* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0EDCF;
}

.logo .icon {
    color: navy;
    font-size: 8rem;
}

.logo {
    margin: 100px auto 20px auto;
    text-align: center;
    transform: translate(-10px);
}

form {
    padding: 30px;
    border-radius: 20px;
    position: relative;
    color: #fff;
    border: 1px solid navy;
    margin: 80px auto;
    width: 35%;
    text-align: center;
}

    form input {
        width: 80%;
        margin: 10px auto;
        padding: 10px 8px;
        border-radius: 8px;
        border: 1px solid rgba(105, 105, 105, 0.397);
    }

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: navy;
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
}

form h4 {
    color: navy;
    text-align: justify;
}
