@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All"></div>
    <h1 style="color:navy">ForgetPassword</h1>

    <h4>
        Forgot your password? No problem.
        Just let us know your email address and we will email
        you a password reset link that will allow you to choose a new one.
    </h4>


    <input asp-for="Email" class="input" type="email" placeholder="email" />
    <span asp-validation-for="Email"></span>
    <input class="submit" type="submit" value="Reset Password" />


</form>
<link rel="stylesheet" href="@Url.Content("~/css/ForgetPassword.css")" />

